nav{
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}
nav a{
padding: 32px;
border-top: 2px solid transparent;
}
nav a:hover{
border-top: 2px solid var(--main-color);
}
nav .logo{
margin-right: auto;
width: 121px;
height: 19px;
padding: 0 32px;
}
.head-nav{
display: flex;
}
.title-nav{
color: var(--main-color) ;
}

/**********************start  footer*************************************************/
footer{
display: flex;
justify-content: space-between;
background-color: var(--main-bg-color);
padding: 0 32px ;
max-width: 100%;
margin: 0 auto
}
.box-footer{
display: flex;
flex-direction: column;
justify-content:start;
width: 30%;
}
.heading-footer{
font-size: 16px;
font-weight:400 ;}
.title-footer{
font-size:18px ;
font-weight:700 ;}
.heading-footer , .title-footer {
   color: inherit; 
margin-bottom: 0;
margin-top: 10px; }
/**********************end  footer*************************************************/

@media (max-width:776px){

.head-nav{
order:1;
flex-basis: 100%;
}
.head-nav a{
flex-basis: 50%;
text-align: center;
}
.head-nav a:last-child {
border-bottom: 2px solid var(--main-bg-color);
}
.title-nav{
border-bottom: 2px solid var(--main-color);
}
nav .logo{
margin: 15px auto 0 ;
}
nav a:hover{
border-top-color: transparent;
/**********************start footer****************************/

footer{
display: flex;
flex-direction: column;
margin-bottom: -40px;

padding: 20px 65px ;
}
.box-footer{
display: flex;
flex-direction: column;
width: 100%;
}
/**********************end footer****************************/

