nav{
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}
nav a{
padding: 32px;
border-top: 2px solid transparent;
}
nav a:hover{
border-top: 2px solid var(--main-color);
}
nav .logo{
margin-right: auto;
width: 121px;
height: 19px;
padding: 0 32px;
}
.head-nav{
display: flex;
}
.title-nav{
color: var(--main-color) ;
}

/*St Heading text*/
.text-pren{
padding: 0 32px;

}
.text-pren h1{
font-size: 22px;
font-weight: 700;
}
.text-pren p{
font-size: 16px;
font-weight: 400;
}
.text-pren h1 , .text-pren p{
margin-bottom: 16px;
}

.search-zone{
display: flex;
align-items: center;
padding: 0 32px;
}
.search-zone a i{
padding: 16.2px;
background-color: var(--main-bg-color);
border-radius: 15px 0 0 15px;
}
.search-zone input{
flex-basis:256px ;
border: 1px solid var(--main-bg-color);
padding: 15.2px;
overflow: auto;
}
.search-zone input::placeholder{
color: black;
font-size: 18px;
font-weight: 700;
}
.search-zone button{
border: none;
border-radius: 0 15px 15px 0;
background-color: var(--main-color);
color: white;
font-weight: bold;
font-size: 18px;
padding:13.8px ;
cursor: pointer;
}
.fa-solid.fa-magnifying-glass{
display: none;
}
/*End Heading text*/

/*ST section filtres*/
.filtres{
display: flex;
align-items: center;
gap:16px ;
flex-wrap: wrap;
padding: 25px 32px ;
}
.filtres h1{
font-size: 18px;
}
.filtre{
border: 2px solid var(--main-bg-color);
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: 0.5s;
padding: 8px 19px 8px 19px;

}
.icons-filtres{
color: var(--main-color);
padding-right: 19px;
width: 22px;
height: 22px;
display: flex;
align-items: center;
justify-content: center;
}
.filtre span{
font-weight: 700;
font-size: 17px;
padding-right: 0 16px ;
}
.filtre:hover{
background-color: var(--filter-bg-color);
}

.info{
display: flex;
align-items: center;
gap: 15px;
padding: 0 32px;
}
.info a {
width: 24px;
height: 24px;
border: 2px solid var(--main-bg-color);
border-radius: 50%;
color: var(--main-color);
display: flex;
align-items: center;
justify-content: center;
}

/**************************ST section hébergement populaire ****************************/
.héberg-populaires{
display: flex;
gap: 16px;
padding:0 32px;
}
.section-title{
font-size: 22px;
font-weight: 700;
padding: 0 32px;
}
.progresse{
width: 18px;
height: 15px;
color: var(--main-color);
}
.héberg{
flex-basis: 66%;
border:1px solid var(--main-bg-color);
background-color: var(--main-bg-color);
border-radius: 15px;
padding: 30px;
gap: 30px;
}
.location-appartements{
display: flex;
justify-content: space-around;
gap: 16px;
flex-wrap: wrap;
margin-bottom: 16px;

}
.location-appartements .appartement{
background-color: white;
border-radius: 15px;
box-shadow: 0 0 16px #0000002e;
height: 207px;
width: 250px;
object-fit: cover;
object-position: top;
margin-bottom: 16px;
}
.img-heberge{
height: 124px;
width: 250px;
border-radius: 15px 15px 0 0;
border: 3px solid var(--main-bg-color);
padding: 2px;
}
.title-disc{
font-size: 16px;
font-weight: 700;
margin: 5px 0 0 10px;
}
.paragraph-heberge{
font-size: 14px;
font-weight: 400;
margin: 5px 0 0 10px;
}
.appartement .stars {
margin: 5px 0 0 10px;
}
.appartement .stars i:not(:last-child) {
color: var(--main-color);
}
.card-content .card-rating i:not(:last-of-type){
color: var(--main-color);
}

.card-content .card-rating .neutral-star , .appartement .stars .neutral-star{
    color: var(--main-bg-color);}

.title-afficher { 
    font-size: 18px; font-weight: 700; margin-left: 15px;}
/**************************ST section populaire ****************************/
.populaires{
flex-basis: 33%;
border:1px solid var(--main-bg-color);
background-color: var(--main-bg-color);
border-radius: 15px;
padding: 30px;
gap: 30px;
}
.populaires .section-title{
    padding: 0;
}
.populaires-title {display: flex;justify-content: space-between;align-items: center;}

.populaires-cards .card { display: flex; margin-bottom: 33px; background-color: white; border-radius: 15px; }
.populaires-cards img { width: 33%; height: 136px;border-top-left-radius: 20px; border-bottom-left-radius: 20px; padding: 4px;}
.populaires-cards .card-content {width: 67%; padding-left: 15px; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box; }
.populaires-cards .card-title { margin-top: 10px; margin-bottom: 4px; }
.populaires-cards .card-subtitle { margin: 0; }
.populaires-cards .card-rating { margin-bottom: 5px; }



/**********************EN section filthébergementres populaire**************************/
/**********************start section acivitie******************************************/

.section-activ{ 
     margin-top: 70px;
    padding: 0 62px;}
    .section-activ .section-title{
        padding: 0 10px;}
.container-acivitie{
display: flex;
justify-content: center;
justify-content: space-between;
gap: 35px;
margin-top: 30px;
margin-bottom: 60px;
}
.section-title{
font-size: 22px;
font-weight: 700;
padding:0 32px;
margin-bottom: 30px;
}
.cadre-acivitie{
width:297px ;
height:439px ;
border-radius: 20px;
box-shadow: 0 0 16px #0000002e;
}
.cadre-acivitie img{
width:297px ;
height:380px ;
border-radius: 20px 20px 0 0;
}
.title-bas{
font-size: 16px;
font-weight: 700;
margin-left: 10px;
}
/**********************end section acivitie******************************************/
/**********************start  footer*************************************************/
footer{
display: flex;
justify-content: space-between;
background-color: var(--main-bg-color);
padding: 0 32px ;
max-width: 100%;
margin: 0 auto
}
.box-footer{
display: flex;
flex-direction: column;
justify-content:start;
width: 30%;
}
.heading-footer{
font-size: 16px;
font-weight:400 ;}
.title-footer{
font-size:18px ;
font-weight:700 ;}
.heading-footer , .title-footer {
   color: inherit; 
margin-bottom: 0;
margin-top: 10px; }
/**********************end  footer*************************************************/

.héberg-populaires{
display: flex;
flex-direction: column;
gap: 50px;
}

.populaires {
width: 100%;
margin-top: 30px;
}
.populaires-title{
margin-top: 10px;
margin-bottom: 0;
}
.populaires-cards {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
.populaires-cards .card{
width: 30%
}

.populaires-cards img { width: 32%; }

.populaires-cards .card-title {
font-size: 14px;
}

.populaires-cards .card-subtitle {
font-size: 13px;
}
/************end section popular**************/
/************start section activite**************/
.container-acivitie{
gap: 30px;
}
.cadre-acivitie{
width:193px ;
height:270px ;
}
.cadre-acivitie img{
width:193px ;
height:200px ;
}
/************end section activite**************/
@media (max-width:776px){

.head-nav{
order:1;
flex-basis: 100%;
}
.head-nav a{
flex-basis: 50%;
text-align: center;
}
.head-nav a:last-child {
border-bottom: 2px solid var(--main-bg-color);
}
.title-nav{
border-bottom: 2px solid var(--main-color);
}
nav .logo{
margin: 15px auto 0 ;
}
nav a:hover{
border-top-color: transparent;
.fa-solid.fa-magnifying-glass{
display: inline;
background-color: inherit;
}
.button-search{
display: none;
}
/*section filter*/
.filtres h1{
flex-basis: 100%;
}
.search-zone .text-pren{
    padding: 0 50px;
}
.filtres{
    padding: 25px 50px;
}
/*******************************section héberements populairs*****************************/

.héberg-populaires{
flex-direction: column-reverse;
gap: 10px;
}
.héberg-populaires > div {
border-radius: 20px;
padding: 30px;
box-sizing: border-box;border-radius:0;
}
.populaires , .héberg {
width: 375px;
gap: 20px;
margin: 5px auto;
}
.héberg{
    background-color: white;
    border: none;
}
.section-title{
    padding: 0;
}
.location-appartements .appartement{
width: 335px;
}
.img-heberge{
width: 335px;
height: 124px;
}
.populaires-title {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}
.populaires-cards{
justify-content: center;

}

.populaires-cards .card {
display: flex;
margin-top: 33px;
width: 335px;
}

.populaires-cards .card img {
width: 111px;
height: 146px;

}

.populaires-cards .card-content {
width: 67%;
padding-left: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
box-sizing: border-box;
}

.populaires-cards .card-title {
margin-top: 10px;
margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
margin: 0;
}




/**********************start section active****************************/



.container-acivitie{
display: flex;
justify-content: center;
flex-direction: column;
gap: 30px;
margin-top: 30px;
}
.cadre-acivitie{
width:315px ;
height:200px ;
}
.cadre-acivitie img{
width:315px ;
height:141px ;
}
/**********************end section active****************************/
/**********************start footer****************************/

footer{
display: flex;
flex-direction: column;
margin-bottom: -40px;

padding: 20px 65px ;
}
.box-footer{
display: flex;
flex-direction: column;
width: 100%;
}
/**********************end footer****************************/

