nav{
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}
nav a{
padding: 32px;
border-top: 2px solid transparent;
}
nav a:hover{
border-top: 2px solid var(--main-color);
}
nav .logo{
margin-right: auto;
width: 121px;
height: 19px;
padding: 0 32px;
}
.head-nav{
display: flex;
}
.title-nav{
color: var(--main-color) ;
}

/*St Heading text*/
.text-pren{
padding: 0 32px;

}
.text-pren h1{
font-size: 22px;
font-weight: 700;
}
.text-pren p{
font-size: 16px;
font-weight: 400;
}
.text-pren h1 , .text-pren p{
margin-bottom: 16px;
}

.search-zone{
display: flex;
align-items: center;
padding: 0 32px;
}
.search-zone a i{
padding: 16.2px;
background-color: var(--main-bg-color);
border-radius: 15px 0 0 15px;
}
.search-zone input{
flex-basis:256px ;
border: 1px solid var(--main-bg-color);
padding: 15.2px;
overflow: auto;
}
.search-zone input::placeholder{
color: black;
font-size: 18px;
font-weight: 700;
}
.search-zone button{
border: none;
border-radius: 0 15px 15px 0;
background-color: var(--main-color);
color: white;
font-weight: bold;
font-size: 18px;
padding:13.8px ;
cursor: pointer;
}
.fa-solid.fa-magnifying-glass{
display: none;
}
/*End Heading text*/

/*ST section filtres*/
.filtres{
display: flex;
align-items: center;
gap:16px ;
flex-wrap: wrap;
padding: 25px 32px ;
}
.filtres h1{
font-size: 18px;
}
.filtre{
border: 2px solid var(--main-bg-color);
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: 0.5s;
padding: 8px 19px 8px 19px;

}
.icons-filtres{
color: var(--main-color);
padding-right: 19px;
width: 22px;
height: 22px;
display: flex;
align-items: center;
justify-content: center;
}
.filtre span{
font-weight: 700;
font-size: 17px;
padding-right: 0 16px ;
}
.filtre:hover{
background-color: var(--filter-bg-color);
}

.info{
display: flex;
align-items: center;
gap: 15px;
padding: 0 32px;
}
.info a {
width: 24px;
height: 24px;
border: 2px solid var(--main-bg-color);
border-radius: 50%;
color: var(--main-color);
display: flex;
align-items: center;
justify-content: center;
}
/**********************start  footer*************************************************/
footer{
display: flex;
justify-content: space-between;
background-color: var(--main-bg-color);
padding: 0 32px ;
max-width: 100%;
margin: 0 auto
}
.box-footer{
display: flex;
flex-direction: column;
justify-content:start;
width: 30%;
}
.heading-footer{
font-size: 16px;
font-weight:400 ;}
.title-footer{
font-size:18px ;
font-weight:700 ;}
.heading-footer , .title-footer {
   color: inherit; 
margin-bottom: 0;
margin-top: 10px; }
/**********************end  footer*************************************************/

@media (max-width:776px){

.head-nav{
order:1;
flex-basis: 100%;
}
.head-nav a{
flex-basis: 50%;
text-align: center;
}
.head-nav a:last-child {
border-bottom: 2px solid var(--main-bg-color);
}
.title-nav{
border-bottom: 2px solid var(--main-color);
}
nav .logo{
margin: 15px auto 0 ;
}
nav a:hover{
border-top-color: transparent;
.fa-solid.fa-magnifying-glass{
display: inline;
background-color: inherit;
}
.button-search{
display: none;
}
/*section filter*/
.filtres h1{
flex-basis: 100%;
}
.search-zone .text-pren{
    padding: 0 50px;
}
.filtres{
    padding: 25px 50px;
}
/*******************************section héberements populairs*****************************/

/**********************start footer****************************/

footer{
display: flex;
flex-direction: column;
margin-bottom: -40px;

padding: 20px 65px ;
}
.box-footer{
display: flex;
flex-direction: column;
width: 100%;
}
/**********************end footer****************************/

